---
import DropdownMenu from "./DropdownMenu.astro";

import logoImage from "../assets/logo.png";
import logoWord from "../assets/logo-word.png";

const navLinks = [
  { name: "首页", path: "/" },
  { name: "我的产品", path: "/products" },
  { name: "我的服务", path: "/services" },
  { name: "我们的优势", path: "/advantages" },
  { name: "咖啡小店2.0", path: "/coffee-academy" },
  { name: "合作案例", path: "/scenarios" },
];
---

<header class="bg-white/80 backdrop-blur-md shadow-sm sticky top-0 z-50">
  <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
    <a href="/" class="flex items-center gap-6">
      <img
        src={logoImage.src}
        alt="Obubu Logo"
        class="h-[72px] hover:opacity-80 transition-opacity"
      />
      <img
        src={logoWord.src}
        alt="Xbot Logo"
        class="h-9 hover:opacity-80 transition-opacity"
      />
    </a>

    <div class="hidden md:flex space-x-8 items-center text-base font-medium">
      {
        navLinks.map((link) => (
          <a
            href={link.path}
            class="text-gray-600 hover:text-brand-brown transition-colors"
          >
            {link.name}
          </a>
        ))
      }
      <DropdownMenu />
    </div>

    <div class="hidden md:block">
      <a
        href="#partner"
        class="bg-brand-brown text-white px-5 py-2.5 rounded-md hover:opacity-90 transition text-sm font-semibold"
        >成为合伙人</a
      >
    </div>
    <div class="md:hidden">
      <!-- 移动端菜单按钮，功能可以后续实现 -->
      <button class="text-gray-800 focus:outline-none">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path></svg
        >
      </button>
    </div>
  </nav>
</header>
